Source: notekeeper-open
Section: user/other
Priority: optional
Maintainer: Roopesh Chander <roop@roopc.net>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://www.notekeeperapp.com/opensource

Package: notekeeper-open
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Access your Evernote account on the Nokia N9.
 Notekeeper is a full-fledged Evernote client that allows you to view, create and edit your Evernote notes.
 This is the open-source edition of Notekeeper.
XSBC-Maemo-Display-Name: Notekeeper Open
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAA
 AAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAACKaQAAimkBsWWzMgAAAAd0SU1FB9wL
 HQIQN41wq5cAABQ4SURBVHjavVt7sBxllf+dr7vndV/JTW7Ii4SIgpG3iCUWWpAy
 pSC6/uFWqlQgiBSagAIigo+qdX0kKdCAj+CywqKIrqtrubWSXQVDXNkYeSwhgMiu
 uDwikty5j7l3Zu509/eds3983T093XPvXMNd59aXTD+nz/nO+Z3fOedrwiv43PXw
 x7H5rC8n2/f812cGHeWOVGdaw6HotSLmtSy8jsGri8pZNlwqLxHIIIA+AC5AEMT/
 ggE0CTRd18FY3ferROqPRM4LjnKfYcHvV1b6x1h09X1nfL4a/+Z3Hv0kLj5zx1HL
 QEcn+HXYfNbN9vtD1wy73sBVitQmFrMs4EblpdqRUjOYJsMhAIGIoOh5WNTXDxEB
 rMCS/30CAWj4PuqtGYAIBIIiB65TxtrhFX5B9c24qlAX4d2G/V0Xn7njcQD49iOf
 xCVv2PGXUcDdj3xmnVLOX4XSukxzcLJvGvBNHSH7oohovF5HqDUoursIUPQKWNzX
 D7HCz/FAhIbvY3qm0XG9QLB80TBEWBS5VHT6UXL74VJhvOBUviUsP/rAmX/7MADc
 +esr8cGzv75wCrjroU9g8xtvwp37r+33vPI9RvS7a/6fEHArfr7kXgrAeH0KgdGg
 SAIRQcn1MNQ30EN8e5Om38J0q5lcH99j+dAwuPNcAUAKDoaKK6TkVJ5n1u+4+Kzt
 z9z18A3YfNb2nrKpuQ5+4ReXAwA277wJf/+bG7/ICqNjrUPvPtz4vfi6CRGBiBDs
 AOy2fUhBvAsQgAXtHT2Gva+9Jh72UO48EhEYDjE28zyONJ87boYbv/v2I5/5/rO1
 8aUAsO2BLUdnAdsf+AhuOO82fOEXl/c5qvi4Q1PHC+oC0JxWo4hQbUwj1Lpjf9Hz
 sLgSY8AcD0SERuBjeqaZO7ZiaBgs3HtWqYCQF4MEb7hxw65Ht+/Zghs27Jq/BWzb
 swU3nHcbduzdepIi58Xx5rPHN/W4gIiEgDmHhT37/1z7Zr0+sgBIfj9J7+sJ0NyS
 av1/EHDzkR17rtxyw4Zd2LZny/wUsO3+D+HGDbuwfc+Vr9XGPFmtP7tYax9gEBgg
 M/ew9mrNnRggjkyf7bHe1yPWWHI9xftM7+vJABCQsMFk4wXxufGN7Xu2br1xwy58
 ac+He7vAtr2fgjJjRQM6VG38fqnACAQ0VO5D2SvMC1WrzWmE2qRQ3ILgokr/vJC5
 EfhdQXDF4HDPKCLRuUemJ623isii8mry3L6zP7Xhm/vntIC/e/CjuPHcL4Hh7J9o
 vrBU2ABMhASAAGGZe0jyFBAGhNMg2Pt6JGCJ5HrhNgj2vD79HAxAiGozf4IY+fXO
 B65acce+T8yugCvO+Sru3PfJ6+v+6OmhmREQJbEGgrxfdhmAgIVhYMBggAAGQ8RA
 wBACGAYME+GCtLcp2hYDIwaItg0MWKxtzwcDgFRgJoDFyHjzf1H2irsue/NNuG3v
 ld1dYOf971Ol4tKx344eGFKkKG1Wi4plVAqFnnGcRWN9/7uwuLAaLzZ+h/2jP8a5
 yy/GSGkVXmw9hJdmnsDpi96LPmcYB2s/QYun8fpFm1BUFfxH9TaUnEGcMbQJBAc/
 fmEHhrxl2LD8EhgxeLT2HWjxe7oQs+BwY6pDOIHguEWvRsUZeOOH33rLw10toFxc
 dmszrC4SETJsEA9mO5ssbL/PMQyHGC6uwvLSq7GocAwMh1hSXIllpVehqAbAwhhy
 V2K4sBYKHiDAYu9YDBfWQYRBUBgpvgoryq+BiMClAlaUX4MV5dcAIj1/n8VAoufs
 lIHRDKsA0W4AuOW+SwCbkAA777sInju4lJm3tMJJYTBRVn/MAM8dg1kL6s0pBIMt
 GNeg1fQxfnga/ooAxjNoTs5gcnQSwWAAQwb18Trq4TT0sAbDYGpsClwowCwxcMCY
 HJ9GodKwQojBxJFxFCoOvLI3JwqK2Mki6pRBm5b4emrJbb+8+lwRZ2+HC+x64Or3
 N8KX7/bNJB2qT+XCw+JSBRWvMCuRCaZDqNYAPvSO7Vi19ASwGChyYiAGC8NRTuQm
 DBFJtg1bpGxvGwDIbbeCJr57/+fwwuRjKA8XANWdk4kwXmpM52RYVhmAp1wsLh7/
 ra0bvnr5zvsug9p273sBAJpb72/pSRIRMDNYJBmGrUkJmww02+HXQ0i9D9f/9bex
 euQEAAJFKskELTtTMXWOMrz2tqLstuq6XSkO4IoLb8aq/tejXm3N+jzWVfMyiBiI
 aARc/yAAXLPxDqgb3/mjSAH++Um8QZuMdKKe5H/MMBrjLbxu1VtQKvSBmZMHX/hh
 BXvbGe/H5GgdHMbxMasEdJfBnivGtNStP7/iXQkI3vLzy98bmgYELCLGajD9J5yA
 i2T+Ql9jerKJNctPSgjL/+8Ajl99CuqNFvyZ0IbWzB/PIkNEsck3UxBgSwKCInRJ
 qBtgZiIALALK+LqwQAx3GAQREDQ1/ICB0OuZ6CzMR+A4DgLfIJjRKPU5yP6sQMAs
 caUpMQbrFgCjIXDwhpt2X+ypz/7zBSSCMzXPJBdn75hovwvt1IHVbOgz/pKfMDDQ
 ofXzmPAkI069MvsQ7RMIBaZZUlRa7g6WjhnRplXRHIAiWmCEQUKd2hOO0Fg6Uldt
 TAQwFjxjhU1OTmbC0Cv7FItFVCqVJHoYFmhtYIwBZVI6I3a2hTplMGygIuUEZrpc
 dgpLXAEtDrlRiqkuEUUGkLeCNKq3dRpZRrSfiOD7Pvbt2wfHcRbG6EWwZs0anHrq
 qTDG2NyCGYYtwivpTMaiVKKLJSN5fs0zDpOsdcEYMqZVjC0pqbpkMrEIQHNOQEiS
 ruRcZobneVBKLZgC7MRkIlSUYtsHaB+KJyqbTdq0nCIrCcDKnOwK69UhtxLzjYkK
 ZYGFDVioQ6lEBCFOXEA48jERPPvss3Bdd0EUwMwol8vJd1GWPMU0XTKuxgkbzLoG
 Q0UqIgBsghNcAz5Oc9CRZ0tsDinTYRsk825BFm3jKg7E+utFF120YBggInBdFzoq
 syWpsQiYJFfV4dhVKWv+DIkBQxhGzHGusF6dJO0dzk0ZApT3KdiSbDtlTllGf3//
 wga/yLUoXSsHrKXm42BPGaLS22qXjR5h5g4LYJGO0mdCj1l1jcvMloElAKM1Dh48
 uKAYMDIygmOPPbY982xrhCwM4qwL8OwyJPbCEDLLXBZeYlmSmRUDJPIfSQkZM6HY
 3NIIG4YhDh8+vKAKKBQKWLNmTTQRElWHI+aXyVJ5FhlsKG9HKxbuc4V5QNrBLGpO
 dau8talmjiGydL1iITEgPYtGTNuUxVpCUgSiOB2YTYK2RliYXEAqnGJ5FtCQCyG2
 UdF5WxIBG2nXC1NcwHGcBbOA+H4iAmMMBKEFHkKH8Ok2mu0ZUY7NxvskSuxcZi4I
 M6J+TmQqXXIBYYiojAsARgQmlawAQKFQwMaNGxccBIMggDE2HHOcmMUF0CxgdpXB
 YkdiD2QV4HImCgibnPaYnZyviZBVnHAujLquu6DJkdYaxhhoraEESRbI6fQ3jvcM
 W8HKBAZmgajURBuGaxkepTDA9kA6iVDU/kudF8cgErLV51SYCoIA995774JRYWbG
 qlWrcOKJJ1ouwAKJWk62hJFXNEcsNW8BqW0FuMKiUz17MADibAhJ+VCHw1lmSHGi
 FV3EzCgUCguCAbFiRQRaa2itQVH/gOO+Q0ZUibtSWQxgJGU0sVwILkP8bKrLIpmS
 KJLSUo4DxOWmVKJkjMEf/vCHBaHCMfA5joN169alLCAq1YnqUpqPMCBbD4iAvG0l
 DJcNNy26c2Lu3WKosKWdGc5n47KJwcgeK5VKuPTSS19RGIwFj33fGINWqwWtNVyl
 rFWYqB6QmRgraBcewAxOptZyGJcF0yzZaImOeNkRRjrjIGxdUnJha76z381/28yz
 PWIlaK1RKJWTAo3Ejdf0qgkRsKArBkjMGiMIccVgLNZaTCRgBOm+gA03Ueupkwja
 meB8LXBsbKynBYgIhoeHkxgfKy8787Hvh2EIrTUcRRFYASlO1K4HxDiWkSHpUQIg
 EjBQdwk0KjkigS6ZVK5GErkGJWW0WIggCHDgwIGeUUBrjXPOOSdJdbPhzhiTCJ1W
 gnKcaBUKde8OYw4ZqA3gIBxxjZFDlgZxokHThUS0wa7T1I2xbSfpYsLzCW9pmhv7
 fXrm099jZSjlQIyBYQ3DKudGDOkqg2FOohtBgcGHXBF5juAk9NJqynSoL044OFN8
 i6uvMQCmhTl8+HBPCwjD0FLbmOOnhM6afRiGyXCUskDH6KpoFsmTuXTNIo5gwHMu
 Mz0DuO0YQOgElRRpyAKuxQBJ3CYbBebD8YMg6AC5XsK7rhuxP4GYiNhQviaIbi7L
 gM3oBQoEiHrKBVgrFFoCKRGo3Vjp4j9d6w4GuWJJzNv/nHCXFjzr8/F33/exatUq
 NJszgABGW3DuIG3d/D29L5JP2ZbI0y6zTMQKSEqKWcInAFS0+iJjAZKio/Px++wn
 6+9pwWPhgyCA7/sYGRmB7/tQ4kZxPQrBKvW8kQnkZOioCgsInmHgkGpIfZRYzYBV
 lNtHWkqNNufuHBxT5J4rd+YWPh5pk48ryyKCcrmM9evXY2BgAKOjo6AIA8RwQnHT
 M5wsx8msVUwVbkRJocnCVfcfProfV9x83m9A3nsMAgsOBnkaCYFhybXG4gZt/OB/
 ToKTnf20uQdBgFNOOSWJMrVaDaOjo6jVali9cg3EMIwGTCi5xgjPJgMJTLREmaTQ
 MqRfjnqDcpdC8T0agRDZUJDNBpL1S7NF3kxNYC7gywqfVUAYhmi1Wsk59XodtVoN
 R44cweDgIIrFYhJ5WJBrjHDkt9lsIGaHLgrEwr+5/bpfagUAt39i779AO2AjZHRU
 5UkNNoBohjH2WMeIigzGcDJbc40wDBEEQfJ/PHzf7xjMDK01arUaxsfH8dJLL8H3
 fQwODloXiPw/+zz2GdvPmpaBtUCMCJkCDMvXk+4wAJBxf8pKLgTlO6uAbahka3+W
 6lLSqmLDPdFgtnAXW0A8KpUKpqamMDExgWq1ivHxcaxbtw4DAwMJAMUdPO5S/BDO
 26uQgEmIxA3v+NQvf/bB7Q+legri3ONwuZ0UplqrHaEltR4tDkFKKdRqtTmFT2d3
 syF9bBmxAsbGxvDyyy+jWq1i9erVGB4ehuu6tvGqlA1/Xdbftr0wLwOYQOzdYY9f
 27aAUOufOagYXzUcNkI5C1ACTdwVAZSj8Mhj+7Hx3AvmBL25Epz07Pf396PRaKBa
 rSIMQ6xcuRLDw8PwPA9hGOJXD+5FqVIAFKBNviRmQTBvxdphKcoQjMg9mz//Ftx5
 w6/aFvDdv/nPCQjtdLhEqfXp0YpP6VgDnB52LSXhwcfuw3R9ek7Ej5XQjeRoreF5
 HpYtWwZmxsTEBAYGBrB27Vocc8wxKJfLCcj+40/vQqlUhOup1Msn7SGcpYNRs5Rd
 crh4+O7PPfggXOmyVvhcYNM5Z43+UV5cQil+JQD6VQEluPlFEgLMTISoHfbxwsMB
 LvvAFqxf/9rOXCLu5ghb4JJ2M1WiBVWO6wCCJJQqpeA4DlzXAZECCBirVvGDH34f
 tdIzWP7qflSWFKAyK8UIgIFggmdyCyVHaBnKqJz2vS/sPzjrYulNN7756lGM7vQp
 /W6AoJ+KKMLN+zkRTMjwJ0PMTBscemoaY0eayHSroEBw5/mGDgMwXRKS/r4Cjjt1
 ESpDDsqLPbglZ9bAPCHNTCrj0jGy6p9+tG3/pvd99k343uf35xWw6dNvwg++uB9v
 v/7UfU2aPJspTG7YBw8FcudYJMkIGwa6xZgINHSaoxPgKcKQcuwvqjZ9JiKQojZT
 Y2CGGU3m9sqW6JqlrgunSPD6XDgFNccqIsGkpC1AoY+XoKDckT5Vqv7gS7/GrBZw
 /nVnQDuhB5bnGzSxQogFAFVQQIncHmGOACOYCH2EhuOiA4gEBaUw6ERrjWP4ZitY
 +t0iCNBijbrR7bctYHOREa8EchVyixe6WFBNZpK6XVkGoKT4+vtveuJA9tycGtnR
 uG/HkyFEnVMxiyBMxPGS915L5dmuDnc8wC0Bbtn+7xQB5RHIiYYCSBHIjWafoh6D
 sseVR3CKqXuU7T3IIduhmseSeUuUSMp6kBxTvPT+m544sPH6U7pNWf7ztutOxv03
 P4nzrj7peALvazpTy8ogKcKl3m99EabgQyOdqAs8KAygOI/X5oAZGMzE/b+UWS9F
 CfPJNwUiNYRUMn3swNu855bf3r3x4yfjvi8/OT8FAMCGa0/Cnq88hbdeu77gaDzk
 qPA0xwl6vjQFANMSIswooACFfvLmBYK+GDSgM48nWELFnlmnQITEocAUQwGdtvfW
 p5/ecM3rsGfnb7uePyuS7PnKU3jLNSdiqFUMHvjq06e73P9pFQ5Nw3gAiyTcgJEb
 mRCcpKbdzl2Y6wXCImAHju4nRy++00e4dO+tTz997sfWzyr8nBaQ/rzzqjNw79ce
 w/kfOc0jh24X4s3sNIURUtInj/rVBGBKQoSUsQBRGCBvXi9OtsSgQTpX0llKxVQP
 O1n1SEQKjukDsXsQwDt3f/3AoQuuOgO7v/ZY77Lc0XRtLth6+kqALhTSmwXmbFEa
 QgGEDAhAjYzFgCgKxBgwKPNrlrSIUZfozVNB9OoMMCIFcGTiJC4gHkic55R4dwL4
 ye5vPPYEALzrY2fiX299dF6/dXTNO5aXdt924HYAt1+45fSCYe8KoHwRgONEhRWX
 ZkpM2hFlOhOTjrV8s89IskBDrEWRcaBECUml5XBhhkDjAH4owK5/3/X4IQA4f+tp
 yT3mK/xRW0BiCVtOx+5d7dD69itOKZNSIz7CYYYsF8gJAn4VICsdUitK4i4WIH59
 vhhNgGWvQACgTkAjAI8H0KME+iOBnieo/xbgxQoK4yJS/dk3D9YS3rL1NPzbNx4/
 ahn+Dzz2TMOy1broAAAAAElFTkSuQmCC
