[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Notekeeper Open
Exec=/usr/bin/invoker --type=d -s --splash=/opt/notekeeper-open/images/splash/splash.png --splash-landscape=/opt/notekeeper-open/images/splash/splash-l.jpg /opt/notekeeper-open/bin/notekeeper-open
Icon=/usr/share/icons/hicolor/80x80/apps/notekeeper-open80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
